* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.commonDiv {
  padding: 1rem;
}
.info-section1 {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  background-color: #effbfc;
  /* border: 1px solid teal; */
}
.info-section1 span {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;

  /* border: 1px solid  rgb(11, 11, 11); */
}
.sliderimgLinerbg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.commonDiv .sliderimg {
  margin: 0 10% 0 10%;
}
.btn_size1 {
  border: none;
  padding: 0.4%;
  font-size: 50px;
}

#I_Like_You_slider {
  position: relative;
  overflow: hidden;
  /* padding: 0 20px; */
  margin-bottom: 4%;
}
.product_container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product_container::-webkit-scrollbar {
  display: none;
}

.pre_btn,
.next_btn {
  border: none;

  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff);
}

.product_card {
  flex: 0 0 auto;
  width: 19%;

  margin-right: 20px;
}
.pre_btn {
  left: 0;
  top: 50%;
  transform: rotate(180deg);
}
.next_btn {
  right: 0;
  top: 50%;
}

.product_info {
  padding: 3% 0;
  word-spacing: 2px;
  font-size: small;
}
.product_image,
.my_inner_div {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product_image img {
  width: 100%;
}

.my_outer_div {
  position: relative;
}
.my_inner_div {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.my_outer_div:hover .my_inner_div {
  display: block;
}

/* /////////////------------midbanner */
.carousel .thumbs {
  transition: all 0.15s ease-in;
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: nowrap;
  display: none;
}
.midBanner img {
  width: 100%;
}

.brandRange {
  width: 8rem;
}
.brandRangeProductContainer {
  height: 24vh;
}
.whyHealthkartmain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whyHealthkart {
  width: 30%;
}
.commonDiv {
  padding: 0;
}
